$default: #243f4d;
$accent: #436372;
$title: #191919;
$button: #a3bbc8;
$bg: #fcd7b6;
$border: #f6f6f6;


%dmsans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%poppins-700 {
  font-family: 'Poppibs-Bold', sans-serif;
  font-weight: 700;
}

%btn {
  background-color: $button;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  @extend %poppins-700;
  padding: 20px 20px 15px 25px;
  display: inline-block;
  border: none;
}


// %hover-icon-btn {
//   background-color: #a3bbc8;

// }
